.accordion {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: clamp(20px, 0.915rem + 1.49vw, 34px) clamp(20px, 0.771rem + 2.13vw, 40px);
    border-radius: clamp(30px, 1.396rem + 2.13vw, 50px);
    background-color: #2D2C30;
    cursor: default;

    &:last-child{
        margin-bottom: clamp(20px, 1.13rem + 0.53vw, 25px);
    }
}

.accordion__header{
    display: flex;
    justify-content: space-between;
}

.accordion__header-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px; //увеличение облости клика
    margin: -15px;
    
}

.accordion__header-button__icon {
    width: 22px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        width: 22px;
        height: 3px;
        right: 0;
        background-color: #fff;
        transform: rotate(90deg);
        border-radius: 3px;
        transition: transform 0.3s ease-in;
    }

    &--open{
        &::before{
            transform: rotate(0deg);
        } 
    }
}


.accordion__desc {
    font-weight: 500;
    line-height: 1.7;
    position: relative;
    font-size: clamp(12px, 0.606rem + 0.64vw, 18px);
    

    &--hidden{
        display: none;
        transition: 1s ease-in;
    }
}

