.benefist {
    padding: 65px 0 228px;
    background-color:rgba(255, 255, 255, 0.03);
}

.benefits__title {
    text-align: center;
    margin-bottom: 108px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 500px;
        border-radius: 500px;
        background-color: rgba(255, 255, 255, 0.10);
        filter: blur(250px);
        transform: translate(-80%, 58%);
    }
}

.benefits__col {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    &::before{
        position: absolute;
        content:'';
        top: 0;
        left: 0;
        width: 905px;
        height: 992px;
        background-image: url(./../img/benefits/card-x2.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-11%, -11%);
        z-index: 1;
    }

    &::after{
        content: url(./../img/header/wave.svg);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-68%, 50%);
        z-index: -2;
    }

}

.benefist__wrapper {
    display: flex;
    gap: 25px;
    padding: 25px 30px;
    max-width: 650px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.10);

    position: relative;

    &:first-child{

        &::before{
            position: absolute;
            content: url(./../img/benefits/arrow.svg);
            top: -32%;
            left: -26%;
        }
    }

    &:last-child{
        &::before{
            position: absolute;
            content: url(./../img/benefits/arrow2.svg);
            bottom: -60%;
            right: -15%;
        }
    }

}

.benefist__wrapper-img {
    padding: 27px;
    width: 90px;
    height: 90px;
    border-radius: 15px;
    background: linear-gradient(135deg, #5840EE 0%, #A340DF 100%);

    &--reliability{
        background:linear-gradient(135deg, #4DFF20 0%, #1CFF84 7.4%, #00B2FF 100%);
    }
    &--reviews{
        background: linear-gradient(135deg, #F64444 0%, #F39323 99.58%);
    }
}

.benefist__wraper-text {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.benefist__wraper-text__desc {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 500;
    line-height: 1.7; 
}