.button{
    padding: 0 55px;
    line-height: clamp(39px, 1.791rem + 2.87vw, 66px);
    font-weight: 700;

    font-size: clamp(12px, 0.606rem + 0.64vw, 18px);

    justify-self: flex-end;
    align-self: flex-start;
    border-radius: 15px;
    background:linear-gradient(90deg, #D034EA 0%, #F12626 49.48%, #F26428 100%);
    

    &:hover{
        outline: 2px solid #fff;
        background: transparent;
    }
    

    &--nav{
        padding: 0 35px;
        font-weight: 600;
        line-height: 50px;

        @include tablet(){
            display: none;
        }
    }

    &--nav-mobile{
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
        display: block;
        align-self: center;
        margin-bottom: 130px;
    }
    

    &--content{
        padding: 0 clamp(35px, 1.538rem + 2.88vw,65px);
        line-height: clamp(40px, 2.024rem + 2.12vw, 62px);
    }


    &--faq{
        background: transparent;
        border-radius: clamp(15px, 0.818rem + 0.53vw, 20px);
        outline: 2px solid #FFF;
        color: #FFF;

        &:hover{
            background:linear-gradient(90deg, #D034EA 0%, #F12626 49.48%, #F26428 100%);
            outline: unset;
        }
    }
    
}

