.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: clamp(10px, -0.888rem + 2.63vw, 20px);
    align-items: center;

    @include tablet (){
        display: flex;
        justify-content: space-between;
    }
}

.nav__logo {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
    gap: clamp(10px, -5rem + 10vw, 60px);

    
    @include tablet(){
        display: none;
    }
}

.nav__list-item {
    position: relative;  
}

.nav-list__link {
    color: rgba(255, 255, 255, 0.60);

    &--active{
        color: #FFF;
        font-weight: 600;

        &::before{
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
    
            width: 100%;
            height: 3px;
            border-radius: 52px;
            background: linear-gradient(90deg, #D034EA 0%, #F12626 49.48%, #F26428 100%);
        }
    }

    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 3px;
        border-radius: 52px;
        background: linear-gradient(90deg, #D034EA 0%, #F12626 49.48%, #F26428 100%);
        transition: width 0.4s ease-out;
    }
    
    &:hover{
        color: #fff; 
        transition: color .3s ease-in;
            &::after{
                width: 100%;
            }
    }
}

.nav-toggle {
    display: none;

    @include tablet (){
        display: block;
        cursor: pointer;
        z-index: 99;
        

        padding: 10px;   //увеличиваю область клика
        margin: 0 -10px; //и устроняю прыжок лого

        &--open{
            position: fixed;
            right: 15px;
            top: 25px;
        }
    }
}

.nav-mobile {
    // display: none;
    padding-bottom: 20px;

    position: fixed;
    width: 100%;
    height: 100%;
    top:-100%;
    left: 0;

    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: -1;

    transition: 0.2s ease-in;

    &.open{
        top: 0;
        opacity: 1;
        z-index: 1;
    }

    .social{
        margin-bottom: 10px;
    }
}

.nav-mobile__header{
    background-color:#161519;
    margin-bottom: 30%;
    height: 78px;
    padding: 17px 15px 0; //выравнивание pixel
    display: flex;
    align-items: center;
}

.nav-mobile__list {
    display: none;

    @include tablet(){
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 500;
        gap: 16px;
        margin-bottom: 20px;
    }
}

.nav-mobile__list-item {
    position: relative;
}

.nav-mobile__list-link {
    color: rgba(255, 255, 255, 0.60);

    &--active{
        color: #FFF;
        font-weight: 600;

        &::before{
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
    
            width: 100%;
            height: 3px;
            border-radius: 52px;
            background: linear-gradient(90deg, #D034EA 0%, #F12626 49.48%, #F26428 100%);
        }
    }

    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 3px;
        border-radius: 52px;
        background: linear-gradient(90deg, #D034EA 0%, #F12626 49.48%, #F26428 100%);
        transition: width 0.4s ease-out;
    }
    
    &:hover{
        color: #fff; 
        transition: color .3s ease-in;
            &::after{
                width: 100%;
            }
    }
}


