.privacy-policy{
    padding: 16px 50px;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.10);
    font-size: clamp(12px, 0.606rem + 0.64vw, 18px);

    &--mobile{
        cursor: pointer;
        padding: 15px 58px;
        margin: 0 20px;
        font-size: 12px;
        text-align: center;
    }

    a{
        color: #FFF;
        font-weight: 500;
    }
}