.social {
    display: flex;
    align-items: center;
    gap: clamp(8px, 0.332rem + 0.74vw, 15px);

    &--mobile{
        gap: 8px;

        a{
            width: 30px;
        }
    }

    a{
        transition: 0.2s ease-in;


        &:hover{
        position: relative;
            top: 3px; 
        }
    }

    img{
        width: clamp(30px, 1.172rem + 3.13vw, 50px);
    }
}